{% extends 'base.html' %}
{% block title%}
    New User Form
{% endblock %}

{% block content %}
<div class="container">
    <br><br><br><br>
    <div class="w-75 p-3 center" style="background-color: white; padding: 20px;">
        <br>
        <h1>Create User</h1>
        <br>
       
        <form method="post" action="/users/new">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name ="first_name" placeholder="Enter a First Name">
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Enter a Last Name">
              </div>    
              <div class="form-group">
                <label for="url">Image URL</label>
                <input type="text" class="form-control" name="url" placeholder="Provide an image for this user">
              </div>                                 
            <button type="submit" class="btn btn-primary" id="btn_submit">Add</button>

        </form>
    </div>
</div>        
{% endblock %}