<!DOCTYPE HTML>
<html>
  <head>
    <meta  charset="utf-8">
    <link rel="stylesheet" href="../static/app.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>{% block title%} {% endblock %}</title>
  </head>
  <body class ="content" style="background-color: #eee;">
          {% block content %}

          {% endblock %}

          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <script src="{{ url_for('static', filename='form.js') }}"></script>
</body>
</html>